{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mãos Em Ação{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="container">
        <header>
            <h1>Mãos Em Ação</h1>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
    {% block extra_js %}{% endblock %}
</body>
</html>
